@use "../global/variable.scss" as var;

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: var.$mobile-width;
  font-family: var.$primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var.$grey;
  background-color: var(--bg-color);

  @media (min-width: var.$tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
