@use "../global/variable.scss" as var;
@use "sass:meta";

.theme {
  &--light {
    --bg-color: #{var.$white};
    --color-logo: #{var.$aubergine};
    --color-text: #{var.$black};
    --color-title: #{var.$black};
    --title-clip: #{var.$unset};
    --title-fill-color: #{var.$unset};
    --title-bg: #{var.$none};
    --bg-item: #{var.$item-light-gradient};
    --bg-main-mobile: #{meta.inspect(var.$bg-main-mobile-light)};
    --bg-main-mobile-width: #{var.$bg-main-mobile-light-width};
    --bg-main-mobile-height: #{var.$bg-main-mobile-light-height};
    --bg-main-desktop-top-width: #{var.$bg-main-desktop-top-light-width};
    --bg-main-desktop-top-height: #{var.$bg-main-desktop-top-light-height};
    --bg-main-desktop-middle-width: #{var.$bg-main-desktop-middle-light-width};
    --bg-main-desktop-middle-height: #{var.$bg-main-desktop-middle-light-height};
    --bg-main-desktop-bottom-width: #{var.$bg-main-desktop-bottom-light-width};
    --bg-main-desktop-bottom-height: #{var.$bg-main-desktop-bottom-light-height};
    --bg-main-desktop-top: #{meta.inspect(var.$bg-main-desktop-top-light)};
    --bg-main-desktop-top-position: #{var.$bg-main-desktop-top-position-light};
    --bg-main-desktop-middle-position: #{var.$bg-main-desktop-middle-position-light};
    --bg-main-desktop-bottom-indent: #{var.$bg-main-desktop-bottom-indent-light};
    --bg-main-desktop-middle: #{meta.inspect(var.$bg-main-desktop-middle-light)};
    --bg-main-desktop-bottom: #{meta.inspect(var.$bg-main-desktop-bottom-light)};
    --color-form-text: #{var.$none};
    --color-form-mobile-title: #{var.$none};
    --color-input-border: #{rgba(var.$midnight-blue, 0.2)};
    --bg-button: #{var.$button-light-gradient};
    --color-auth-message: #{var.$midnight-blue};
    --bg-form: #{meta.inspect(var.$bg-form-light)};
    --bg-form-width: #{var.$bg-form-width-light};
    --bg-form-indent: #{var.$bg-form-indent-light};
    --bg-form-indent-small: #{var.$bg-form-indent-small-light};
    --bg-not-found: #{var.$none};
    --color-not-found: #{var.$solitude-2};
    --bg-404-mobile-top: #{var.$bg-404-mobile-top-light};
    --bg-404-mobile-bottom: #{var.$bg-404-mobile-bottom-light};
    --bg-404-desktop-top: #{var.$bg-404-desktop-top-light};
    --bg-404-desktop-bottom: #{var.$bg-404-desktop-bottom-light};
    --bg-404-mobile-top-width: #{var.$bg-404-mobile-top-width-light};
    --bg-404-mobile-bottom-width: #{var.$bg-404-mobile-bottom-width-light};
    --bg-404-desktop-top-width: #{var.$bg-404-desktop-top-width-light};
    --bg-404-desktop-bottom-width: #{var.$bg-404-desktop-bottom-width-light};
    --bg-404-mobile-top-height: #{var.$bg-404-mobile-top-height-light};
    --bg-404-mobile-bottom-height: #{var.$bg-404-mobile-bottom-height-light};
    --bg-404-desktop-top-height: #{var.$bg-404-desktop-top-height-light};
    --bg-404-desktop-bottom-height: #{var.$bg-404-desktop-bottom-height-light};
    --bg-404-top-indent: #{var.$bg-404-top-indent-light};
    --bg-404-bottom-indent: #{var.$bg-404-bottom-indent-light};
  }

  &--color {
    --bg-color: #{var.$white};
    --color-logo: #{var.$aubergine};
    --color-text: #{var.$black};
    --color-title: #{var.$black};
    --title-clip: #{var.$text};
    --title-fill-color: #{var.$transparent};
    --title-bg: #{var.$text-gradient};
    --bg-item: #{var.$item-light-gradient};
    --bg-main-mobile: #{meta.inspect(var.$bg-main-mobile-color)};
    --bg-main-mobile-width: #{var.$bg-main-mobile-color-width};
    --bg-main-mobile-height: #{var.$bg-main-mobile-color-height};
    --bg-main-desktop-top-width: #{var.$bg-main-desktop-top-color-width};
    --bg-main-desktop-top-height: #{var.$bg-main-desktop-top-color-height};
    --bg-main-desktop-middle-width: #{var.$bg-main-desktop-middle-color-width};
    --bg-main-desktop-middle-height: #{var.$bg-main-desktop-middle-color-height};
    --bg-main-desktop-bottom-width: #{var.$bg-main-desktop-bottom-color-width};
    --bg-main-desktop-bottom-height: #{var.$bg-main-desktop-bottom-color-height};
    --bg-main-desktop-top: #{meta.inspect(var.$bg-main-desktop-top-color)};
    --bg-main-desktop-top-position: #{var.$bg-main-desktop-top-position-color};
    --bg-main-desktop-middle-position: #{var.$bg-main-desktop-middle-position-color};
    --bg-main-desktop-bottom-indent: #{var.$bg-main-desktop-bottom-indent-color};
    --bg-main-desktop-middle: #{meta.inspect(var.$bg-main-desktop-middle-color)};
    --bg-main-desktop-bottom: #{meta.inspect(var.$bg-main-desktop-bottom-color)};
    --color-form-text: #{var.$form-gradient};
    --color-form-mobile-title: #{var.$form-mobile-gradient};
    --color-input-border: #{rgba(var.$midnight-blue, 0.2)};
    --bg-button: #{var.$button-light-gradient};
    --color-auth-message: #{var.$midnight-blue};
    --bg-form: #{meta.inspect(var.$bg-form-color)};
    --bg-form-width: #{var.$bg-form-width-color};
    --bg-form-indent: #{var.$bg-form-indent-color};
    --bg-form-indent-small: #{var.$bg-form-indent-small-color};
    --bg-not-found: #{var.$not-found-gradient};
    --color-not-found: #{var.$solitude-2};
    --bg-404-mobile-top: #{var.$bg-404-mobile-top-color};
    --bg-404-mobile-bottom: #{var.$bg-404-mobile-bottom-color};
    --bg-404-desktop-top: #{var.$bg-404-desktop-top-color};
    --bg-404-desktop-bottom: #{var.$bg-404-desktop-bottom-color};
    --bg-404-mobile-top-width: #{var.$bg-404-mobile-top-width-color};
    --bg-404-mobile-bottom-width: #{var.$bg-404-mobile-bottom-width-color};
    --bg-404-desktop-top-width: #{var.$bg-404-desktop-top-width-color};
    --bg-404-desktop-bottom-width: #{var.$bg-404-desktop-bottom-width-color};
    --bg-404-mobile-top-height: #{var.$bg-404-mobile-top-height-color};
    --bg-404-mobile-bottom-height: #{var.$bg-404-mobile-bottom-height-color};
    --bg-404-desktop-top-height: #{var.$bg-404-desktop-top-height-color};
    --bg-404-desktop-bottom-height: #{var.$bg-404-desktop-bottom-height-color};
    --bg-404-top-indent: #{var.$bg-404-top-indent-color};
    --bg-404-bottom-indent: #{var.$bg-404-bottom-indent-color};
  }

  &--dark {
    --bg-color: #{var.$bunker};
    --color-logo: #{var.$white};
    --color-text: #{var.$white};
    --color-title: #{var.$white};
    --title-clip: #{var.$unset};
    --title-fill-color: #{var.$unset};
    --title-bg: #{var.$none};
    --bg-item: #{var.$item-dark-gradient};
    --bg-main-mobile: #{meta.inspect(var.$bg-main-mobile-dark)};
    --bg-main-mobile-width: #{var.$bg-main-mobile-dark-width};
    --bg-main-mobile-height: #{var.$bg-main-mobile-dark-height};
    --bg-main-desktop-top-width: #{var.$bg-main-desktop-top-dark-width};
    --bg-main-desktop-top-height: #{var.$bg-main-desktop-top-dark-height};
    --bg-main-desktop-middle-width: #{var.$bg-main-desktop-middle-dark-width};
    --bg-main-desktop-middle-height: #{var.$bg-main-desktop-middle-dark-height};
    --bg-main-desktop-bottom-width: #{var.$bg-main-desktop-bottom-dark-width};
    --bg-main-desktop-bottom-height: #{var.$bg-main-desktop-bottom-dark-height};
    --bg-main-desktop-top: #{meta.inspect(var.$bg-main-desktop-top-dark)};
    --bg-main-desktop-top-position: #{var.$bg-main-desktop-top-position-dark};
    --bg-main-desktop-middle-position: #{var.$bg-main-desktop-middle-position-dark};
    --bg-main-desktop-bottom-indent: #{var.$bg-main-desktop-bottom-indent-dark};
    --bg-main-desktop-middle: #{meta.inspect(var.$bg-main-desktop-middle-dark)};
    --bg-main-desktop-bottom: #{meta.inspect(var.$bg-main-desktop-bottom-dark)};
    --color-form-text: #{var.$none};
    --color-form-mobile-title: #{var.$none};
    --color-input-border: #{rgba(var.$white, 0.2)};
    --bg-button: #{var.$button-dark-gradient};
    --color-auth-message: #{var.$white};
    --bg-form: #{meta.inspect(var.$bg-form-dark)};
    --bg-form-width: #{var.$bg-form-width-dark};
    --bg-form-indent: #{var.$bg-form-indent-dark};
    --bg-form-indent-small: #{var.$bg-form-indent-small-dark};
    --bg-not-found: #{var.$none};
    --color-not-found: #{var.$white};
    --bg-404-mobile-top: #{var.$bg-404-mobile-top-dark};
    --bg-404-mobile-bottom: #{var.$bg-404-mobile-bottom-dark};
    --bg-404-desktop-top: #{var.$bg-404-desktop-top-dark};
    --bg-404-desktop-bottom: #{var.$bg-404-desktop-bottom-dark};
    --bg-404-mobile-top-width: #{var.$bg-404-mobile-top-width-dark};
    --bg-404-mobile-bottom-width: #{var.$bg-404-mobile-bottom-width-dark};
    --bg-404-desktop-top-width: #{var.$bg-404-desktop-top-width-dark};
    --bg-404-desktop-bottom-width: #{var.$bg-404-desktop-bottom-width-dark};
    --bg-404-mobile-top-height: #{var.$bg-404-mobile-top-height-dark};
    --bg-404-mobile-bottom-height: #{var.$bg-404-mobile-bottom-height-dark};
    --bg-404-desktop-top-height: #{var.$bg-404-desktop-top-height-dark};
    --bg-404-desktop-bottom-height: #{var.$bg-404-desktop-bottom-height-dark};
    --bg-404-top-indent: #{var.$bg-404-top-indent-dark};
    --bg-404-bottom-indent: #{var.$bg-404-bottom-indent-dark};
  }
}
