@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost/jost-regular.woff2"),
    url("../fonts/jost/jost-regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost/jost-medium.woff2"),
    url("../fonts/jost/jost-medium.woff");
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/jost/jost-semibold.woff2"),
    url("../fonts/jost/jost-semibold.woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sfprodisplay/sfprodisplay-regular.woff2"),
    url("../fonts/sfprodisplay/sfprodisplay-regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sfprodisplay/sfprodisplay-semibold.woff2"),
    url("../fonts/sfprodisplay/sfprodisplay-semibold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/opensans-regular.woff2"),
    url("../fonts/opensans/opensans-regular.woff");
  font-display: swap;
}
